@{
    ViewBag.Title = "The About Us page!";
}
<h2 style="text-align: center">@ViewBag.Title.</h2>


<div style="text-align: center">
    <p>Here at The Comic Store we can offer anybody a wide variety of almost any comic, no matter the year it has been released!</p>
    <p>If the comic your looking for is rare or is very old, it'll take us a while to collect them for you, but FEAR NOT! for we shall succeed so DON"T YOU WORRY!"'</p>
</div>

<div>
    <table style="margin-left: auto; margin-right: auto; border-collapse: separate; border-spacing: 70px; ">
        <tr>
            <th>
                <img src="~/Content/img/marvel.jpg" />
            </th>
        </tr>
    </table>
</div>