@{
    ViewBag.Title = "Home Page";
}



<div>
    <table style="margin-left: auto; margin-right: auto; border-collapse: separate; border-spacing: 70px; ">
        <tr>
            <th>
                <img src="~/Content/img/superhero2.jpg" />
            </th>
        </tr>
    </table>


    
</div>