
@{
    ViewBag.Title = "Location";
}

<style>
    .head {
        text-align: center
    }
</style>

<style>
    .location {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
</style>

<div class="head">
    <h1>
        Location
    </h1>
</div>

<div>
    <h2 class="location">
        Want to see more comic book stores near you?
    </h2>
</div>

<iframe style="width: 100%; height: 800px;" 
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d211722.9575193544!2d18.49826323174175!3d-33.98813582500088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scomic%20stores!5e0!3m2!1sen!2sza!4v1649504064779!5m2!1sen!2sza" 
        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

